/* CSS for Summary and Image */
.result {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
    background-color:rgb(20, 20, 20);
  }
  
  .resultText {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    flex: 1 1 50%;
    border: 1px solid white;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .summary{
    font-size: x-large;
    font-weight: 300;
  }
  .text{
    font-size: large;
  }
  .resultImg {
    flex: 1 1 20%;
    border: 1px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  /* CSS for Paragraph */
  .resultText p {
    color: rgb(0, 0, 0);
    margin: 3px;
  }
  
  /* CSS for Suggestion */
  .suggestion {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: larger;
    justify-self: left;
  }
  
  .suggestion-card {
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) ;
    border: 1px solid silver;
    margin: 5px 0;
    padding: 5px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .suggestion-card:hover {
    transform: scale(1.01);
  }
  
  .resultImg:hover {
    transform: scale(1.01);
  }
  